<div class="AppointmentViewHeader">
    <div class="buttonbar">

        <span>View by</span>
        <span class="left-toolbar">
            <button name="viewButtons" class="dayView" data-bind="onclick:$root.selectedView.bind($root,'Day')">Day</button>
            <button name="viewButtons" class="weekView" data-bind="onclick:$root.selectedView.bind($root,'Week')">Week</button>
            <button name="viewButtons" class="monthView" data-bind="onclick:$root.selectedView.bind($root,'Month')">Month</button>
            <!--<a class="menu-item button"><span>Day</span></a>
            <a class="menu-item button"><span>Week</span></a>
            <a class="menu-item button"><span>Month</span></a>-->
        </span>
    </div>
    <div class="AppointmentType-container">

        <button title="Previous Week" data-bind="click:$root.CurrentView().OnPreviousClick">&lt;</button>
        <span class="AppointmentType-header">
            <span data-bind="text: $root.CurrentView().HeaderText"></span>
        </span>
        <button title="Next Week" data-bind="click:$root.CurrentView().OnNextClick">&gt;</button>
    </div>

    <div>
        <span class="icon-toolbar">
            <button title="Reload" data-bind="click:$root.CurrentView().OnRefreshClick">
                <img alt="Reload" src="images/reload.png" />
            </button>
            <button title="Filter" id="FilterButton" data-bind="onclick: $root.filter.bind($root)">
                <img id="FilterButtonImg" alt="Filter" src="images/menu.png" />
            </button>
        </span>
        <div id="ddllocations" class="Filter">

            <ul class="ccx-tile-menu">
                <!-- ko foreach: $root.CurrentView().ProviderLocations -->
                <li>

                    <a class="locationTile blue" href="javascript:void(0)" data-bind="attr:{title:$data.LocationName}, onclick: $root.CurrentView().OnLocationSelected.bind($root),style: {  'border-color':($data.BorderColorCode),'background-color':($data.Color)  } ">
                        <span data-bind="text: PartialLocationName"></span>
                    </a>
                </li>
                <!-- /ko -->
            </ul>

        </div>
    </div>

</div>
<div id="selectedViewContent"></div>

