<div class="scheduling-administration">
    <div class="LeftPanel">
       <div>
            <h2 style="display:table-cell;padding:15px;vertical-align:top;cursor:pointer;color:#2893ff;font-weight:normal;font-size:26px;" class="title">Scheduling Administration</h2>
        </div>
        <div class="ccx-portal-menu" id="Administration-Nav-TopBar">
            <a class="menu-item button" data-bind="event:{click:SetSubMenusVisibility}"><span>Resource Groups</span></a>
            <a class="menu-item button" data-bind="event:{click:SetSubMenusVisibility}"><span>Locations</span></a>
            <a class="menu-item button" data-bind="event:{click:SetCalendarSubMenuVisibility}"><span>Calendars</span></a>
            <a class="menu-item button" data-bind="event:{click:SetSubMenusVisibility}"><span>Guidelines</span></a>
            <a class="menu-item button" data-bind="event:{click:SetSubMenusVisibility}"><span>Paneling</span></a>
        </div>
        <br />
        <div class="ccx-portal-menu" id="Administration-Calendar-SubMenuBar" data-bind="visible:CalendarSubMenuVisibility">
            <a class="menu-item button selected" data-bind="onclick: SetCalendarSubMenuVisibility"><span>Provider Search</span></a>
            <a class="menu-item button"><span>Add New Provider Calendar</span></a>
        </div>
        <br />
        <div id="LeftPanelTargetContainer"></div>
    </div>
   
    <div class="RightPanel" id="divRight-tab">

    </div>
</div>