<div class="scheduling-provider-workhours-addlocation-popup">
    <!--<div id="agencyLocationsGrid" data-bind="EnableRowSelect:true"></div>-->
    <div class="ccx-portal-grid" id="agencyLocationsGrid" style="height:240px;overflow-x:auto">
        <table>
            <colgroup>
                <col style="width: 100px;" />
                <col style="width: 150px;" />
                <col style="width: 100px;" />
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <span class="ccx-portal-grid-cell">Name</span>
                    </th>
                    <th>
                        <span class="ccx-portal-grid-cell">Office Address</span>
                    </th>
                    <th>
                        <span class="ccx-portal-grid-cell">Main Phone</span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: $root.AgencyLocations -->
                <tr class="ccx-portal-grid-row" data-bind="alternateClass: 'alternating', click: function(){$root.SelectRow($data);}, css: { 'selected': $root.SelectedLocation() === $data}">
                    <td><span data-bind="text: $data.FacilityName, attr: {title : $data.FacilityName}"></span></td>
                    <td><span data-bind="text: $data.OfficeAddress, attr: {title :$data.OfficeAddress}"></span></td>
                    <td><span data-bind="text: $data.MainPhone, attr: {title :$data.MainPhone}"></span></td>

                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <div class="form-toolbar" style="text-align:right;">
        <button data-bind="onclick: SaveFacilityEquipementRecord,readonly:!IsEnable,enable: IsEnable">
            <img alt="save & Close" src="Images/save.jpg" />
            <span>Save &amp; Close</span>
        </button>
    </div>
</div>