

<div class="scheduling-provider-workhours-type-popup">

    <h2>Select a schedule type:</h2>

    <div class="ccx-tile-menu">

        <a class="tile blue" href="javascript:void(0)" data-bind="click: function(){$root.select(Ccx.Scheduling.ViewModels.Provider.WorkHours.CalendarScheduleType.Weekly);}">
            <img alt="Date/Time" src="images/datetime.png" />
            <span>Recurring Schedule</span>
        </a>

        <a class="tile blue" href="javascript:void(0)" data-bind="click: function(){$root.select(Ccx.Scheduling.ViewModels.Provider.WorkHours.CalendarScheduleType.Daily);}">
            <img alt="Date/Time" src="images/datetime.png" />
            <span>Single Day Schedule</span>
        </a>

        <!--<a class="tile blue" href="javascript:void(0)" data-bind="click: function(){$root.select(Ccx.Scheduling.ViewModels.Provider.WorkHours.CalendarScheduleType.TimeOff);}">
            <img alt="Date/Time" src="images/datetime.png" />
            <span>Time Off</span>
        </a>-->

    </div>

</div>
