

<div class="scheduling-provider-workhours-location-popup">
    <h2>Select a location:</h2>

    <div class="ccx-tile-menu">

        <table data-bind="foreach: locations">  

            <tr data-bind="foreach: $data">                
                <td  >
                    
                    <a class="locationTile blue" href="javascript:void(0)" data-bind="attr:{title:$data.LocationName},click: function(){$root.select($data);},style: {  'border-color':($data.BorderColorCode),'background-color':($data.Color)  } ">
                        <span data-bind="text: PartialLocationName"></span>
                    </a> 

                </td>
            </tr>
        </table>
        
    </div>
    
    <div class="form-toolbar" style="text-align:right;">
        <button data-bind="click: function(){$root.select('Add New');}">
            
            <span>Add New</span>
        </button>
    </div>

</div>
