

<div class="scheduling-provider-workhours-detail">

    <!-- ko if: Type == Ccx.Scheduling.ViewModels.Provider.WorkHours.CalendarScheduleType.Weekly -->
    <h2>Recurring Schedule</h2>
    <!-- /ko -->

    <!-- ko if: Type == Ccx.Scheduling.ViewModels.Provider.WorkHours.CalendarScheduleType.Daily -->
    <h2>Single Day Schedule</h2>
    <!-- /ko -->

    <!-- ko if: Type == Ccx.Scheduling.ViewModels.Provider.WorkHours.CalendarScheduleType.TimeOff -->
    <h2>Time Off</h2>
    <!-- /ko -->

    <!-- ko if: Type == Ccx.Scheduling.ViewModels.Provider.WorkHours.CalendarScheduleType.Break -->
    <h2>Break</h2>
    <!-- /ko -->


    <div>
        <label>Reason</label>
        <input data-bind="field: 'Reason', type: AppUI.FieldType.text" />
    </div>

    <div>
        <label>Location</label>
        <input data-bind="field: 'Location', type: AppUI.FieldType.text" />
    </div>

    <div>
        <label>Date</label>
        <input data-bind="field: 'Date', type: AppUI.FieldType.date" />
    </div>

    <div>
        <input data-bind="field: 'IsAllDay', type: AppUI.FieldType.toggle, choices: [{Text:'All Day',Value:true},{Text:'Specified Time',Value:false}]" />
    </div>

    <div data-bind="toggle: 'IsAllDay', condition: function(p){ return !p; }">
        <label>Start Time</label>
        <input data-bind="field: 'StartTime', type: AppUI.FieldType.time" />
    </div>

    <div data-bind="toggle: 'IsAllDay', condition: function(p){ return !p; }">
        <label>End Time</label>
        <input data-bind="field: 'EndTime', type: AppUI.FieldType.time" />
    </div>

    <div class="form-toolbar">
        <button style="float:left;background:none;border:none;" title="Remove" data-bind="onclick: REMOVE_ITEM_DELEGATE_TEMP">
            <img alt="Remove" src="images/remove.png" />
        </button>
        <button data-bind="onclick: function(){$(document).click()}">
            OK
        </button>
        <button data-bind="onclick: function(){$(document).click()}">
            Cancel
        </button>
    </div>

</div>
