<div id="Provider-Search" data-bind="visible:ProviderSearchVisibility">
    <div>
        <label data-bind="text: SearchLabel"></label>
        <input class="wide" data-bind="field: $root.SearchExpression, type: AppUI.FieldType.lookup, search: ProviderSearch, select: SelectItem, enable: $root.IsSmartSearchEnabled, style: { backgroundColor: ($root.IsSmartSearchEnabled()? 'white': 'whitesmoke')},style:{width:'500px' }" />
    </div>
</div>
<div id="Provider-details-display" class="provider-details" data-bind="visible:ProviderDetailsVisibility">
    <div class="header">

        <div>
            <a target="_blank" data-bind="attr: { href: $root.ProviderProfileUrl }, target: '_blank'"><img alt="Provider Image" data-bind="    attr: { src: $root.ProviderImageUrl }" onerror="this.onerror = null; this.src = location.origin + '/_imgs/ContactPhoto.png';" /></a>
        </div>
        <div style="vertical-align:top;padding-left:5px;">
            <span data-bind="text: $root.ProviderFullName"></span>
            <br />
            <span data-bind="text: $root.ProviderTitle"></span>
            <br />
            <a  target="_blank" data-bind="attr:{href:$root.ProviderProfileUrl},target:'_blank'"><span>Edit Profile</span></a>
        </div>
    </div>
    <div>
        <ul>
            
            <li>
                <button data-bind="onclick:ShowCalendar">
                    Work Hours
                </button>
            </li>
            <li><button data-bind="onclick:ShowAppointments">Appointments</button></li>
            <li><button>Paneling</button></li>
            <li><button>Guidelines</button></li>
            <li><button>Services</button></li>

        </ul>

    </div>


</div>