<div class="ccx-page">

    <div class="page-header">

        <a class="back" data-bind="click: function(d) { window.history.back() }"></a>

        <h1 class="title">Scheduling</h1>

        <div class="page-tab">

            <!--<a data-bind="tab: 'Scheduling-Provider-WorkHours-CalendarView', context: new Ccx.Scheduling.ViewModels.Provider.WorkHours.CalendarViewModel('providerid'), target: '#selected-tab'">Work Hours</a>-->
            <!--<a data-bind="tab: 'Scheduling-Schedule-AppointmentWeekly', context: new Ccx.Scheduling.ViewModels.Schedule.AppointmentWeeklyViewModel, target: '#selected-tab'">Weekly View</a>-->
            <a data-bind="tab: 'Scheduling-Administration', context: Ccx.Scheduling.ViewModels.AdministrationViewModel, target: '#selected-tab'">Administration View</a>
        </div>
    </div>

    <div class="page-content" style="background: white;">

        <div id="selected-tab"></div>
    </div>
</div>