

<div class="scheduling-provider-workhours-recurrence-popup">

    <h2>Select how much of the schedule you want to remove</h2>

    <div class="ccx-tile-menu">

        <a class="tile blue wide" href="javascript:void(0)" data-bind="click: function(){$root.select('Single');}">
            <img alt="Date/Time" src="images/clock.png" />
            <span>This date only: </span>
            <span data-bind="text: AppData.formatDate(date)"></span>
        </a>

        <a class="tile blue wide" href="javascript:void(0)" data-bind="click: function(){$root.select('Remaining');}">
            <img alt="Date/Time" src="images/clock.png" />
            <span>From </span>
            <span data-bind="text: AppData.formatDate(date)"></span>
            <span> onward</span>
        </a>

        <a class="tile blue wide" href="javascript:void(0)" data-bind="click: function(){$root.select('All');}">
            <img alt="Date/Time" src="images/clock.png" />
            <span>Entire recurring weekly schedule from start to end</span>
        </a>

    </div>

    <div class="form-toolbar">
        <button data-bind="onclick: function(){AppUI.Popup.hideAll();CrmData.Common.enableHTMLScroll();}">
            Cancel
        </button>
    </div>

</div>
